@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-slate-900;
    font-family: "Plus Jakarta Sans", sans-serif;
    /* 
       Optional: A subtle background pattern to make it look premium 
       (radial gradient + grid pattern)
    */
    background: radial-gradient(circle at top, rgba(15, 15, 15, 0.04), transparent 45%),
      radial-gradient(#ededed 1px, transparent 1px);
    background-size: 100% 100%, 24px 24px;
    min-height: 100vh;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
